<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('list')">
    <title>placeholder title</title>
</head>
<body>
<div class="container">
    <nav th:replace="fragments/navbar :: navbar('list')">navbar</nav>
    <div class="jumbotron">
        <h3 class="display-4 text-center">List all notes.</h3>
    </div>
    <div class="row" style="height: 25px;"></div>
    <div th:each="note : ${listOfNotes}">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="card">
                    <div class="card-header" style="display:inline-block">
                        <a href="#" th:href="@{/note/{id}(id=${note.id})}"><h5 th:text="${note.title}">note title</h5></a>
                    </div>
                    <div class="card-body">
                        <p th:text="${note.content}">note body</p>
                    </div>
                    <div class="card-footer text-right">
                        <a class="btn btn-danger" href="#" th:href="@{/list(delete=${note.id})}">Delete</a>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row" style="height:50px"></div>
    </div>
    <div class="row" style="height:100px"></div>
</div>

</body>
</html>